@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-color-dark: #333;
  --font-color-light: #f1f1f1;
  --font-color-primary: #0070f3;
  --font-color-secondary: #888;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/*Use Global css for maintaining fonts globally and maintain font-size*/
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  font-size: 2rem; 
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}